# ai_search.py parameters.
AI_SEARCH_ENDPOINT = "https://<ai-search-name>.search.windows.net"
AI_SEARCH_INDEX_NAME = "<index-name>"
AI_SEARCH_FOUNDRY_ENDPOINT = "https://<foundry-name>.services.ai.azure.com"
AI_SEARCH_FOUNDRY_EMBEDDING_DEPLOYMENT = "<embedding-deployment-name>"

# foundry_iq.py parameters.
FOUNDRY_IQ_ENDPOINT = "https://<ai-search-name>.search.windows.net"
FOUNDRY_IQ_KNOWLEDGE_BASE_NAME = "<knowledge-base-name>"
FOUNDRY_IQ_KNOWLEDGE_SOURCE_NAME = "<knowledge-source-name>"

# language.py parameters.
LANGUAGE_ENDPOINT = "https://<language-name>.cognitiveservices.azure.com/"
