# ai_search.py parameters.
AI_SEARCH_ENDPOINT = "https://<ai-search-name>.search.windows.net"
AI_SEARCH_INDEX_NAME = "<index-name>"
AI_SEARCH_FOUNDRY_ENDPOINT = "https://<foundry-name>.services.ai.azure.com"
AI_SEARCH_FOUNDRY_EMBEDDING_DEPLOYMENT = "<embedding-deployment-name>"

# foundry_iq.py parameters.
FOUNDRY_IQ_ENDPOINT = "https://<ai-search-name>.search.windows.net"
FOUNDRY_IQ_KNOWLEDGE_BASE_NAME = "<knowledge-base-name>"
FOUNDRY_IQ_KNOWLEDGE_SOURCE_NAME = "<knowledge-source-name>"

# language.py parameters.
LANGUAGE_ENDPOINT = "https://<language-name>.cognitiveservices.azure.com/"

# SQL search parameters.
SQL_SERVER = "tcp:<sql-server-name>.database.windows.net,1433"
SQL_DATABASE = "<sql-database-name>"
SQL_TABLE = "JobPosting"

SQL_AI_SEARCH_DATASOURCE_NAME = "sql-datasource"
SQL_AI_SEARCH_SKILLSET_NAME = "sql-skillset"
SQL_AI_SEARCH_INDEX_NAME = "sql-index"
SQL_AI_SEARCH_INDEXER_NAME = "sql-indexer"

SQL_FOUNDRY_ENDPOINT = "https://<foundry-name>.openai.azure.com"
SQL_FOUNDRY_EMBEDDING_DEPLOYMENT = "<embedding-deployment-name>"
SQL_FOUNDRY_EMBEDDING_MODEL_NAME = "<embedding-model-name>"
